.home {
  margin-top: 4.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 9rem 1rem;
  width: 100%;
  height: 100vh;
  color: rgb(255, 201, 100, 255);
  text-shadow: 0px 0px 10px #000;
  font-family: Syne Mono;
}

.home h1 {
  margin-top: -8rem;
  font-size: 4rem;
  text-shadow: 0px 0px 10px #000;
}

.home h3 {
  font-size: 2rem;
  margin-top: -2rem;
  margin-bottom: 5rem;
  text-shadow: 0px 0px 10px #000;
}

.home button {
  display: inline-block;
  position: relative;
  padding: 10px 25px;
  border-radius: 15px;
  background-color: green;
  color: #fff;
  font-family: monospace;
  font-size: 1.2rem;
  text-align: center;
  text-indent: 15px;
  border: none;
  box-shadow: 0 5px 10px #000;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.home button:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.home button:before,
.home button:after {
  content: ' ';
  display: block;
  position: absolute;
  left: 15px;
  top: 52%;
}

.home button:before {
  width: 10px;
  height: 2px;
  border-style: solid;
  border-width: 0 2px 2px;
}

.home button:after {
  width: 0;
  height: 0;
  margin-left: 3px;
  margin-top: -7px;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: transparent;
  border-top-color: inherit;
  animation: downloadArrow 1s linear infinite;
}

.home button:hover:before {
  border-color: #cdefbd;
}

.home button:hover:after {
  border-top-color: #cdefbd;
}

@keyframes downloadArrow {
  0% {
    margin-top: -7px;
    opacity: 1;
  }

  0.001% {
    margin-top: -15px;
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }

  100% {
    margin-top: 0;
    opacity: 0.4;
  }
}