.loading {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #2d1d47;
  font-family: Minecrafter;
  text-shadow: 0 0 10px #000000;
}

.loader {
  position: relative;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0002);
}

.loader::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 90%;
  background: #fefefe;
  animation: blinkCursor 0.8s steps(3) infinite;
}

@keyframes blinkCursor {

  0%,
  50% {
    opacity: 1;
  }

  51%,
  100% {
    opacity: 0;
  }
}

.loader h2 {
  position: relative;
  color: #e1e42b;
  letter-spacing: 15px;
  font-size: 3em;
  text-transform: uppercase;
  animation: typing 8s steps(11) infinite;
  overflow: hidden;
}

@keyframes typing {

  0%,
  90%,
  100% {
    width: 0;
  }

  30%,
  60% {
    width: 410px;
  }
}

@media screen and (max-width: 768px) {
  .loader h2 {
    font-size: 2em;
    letter-spacing: 10px;
  }

  @keyframes typing {

    0%,
    90%,
    100% {
      width: 0;
    }

    30%,
    60% {
      width: 280px;
    }
  }

}