.skills {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 4rem 6rem 10rem;
  background-color: #fff;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
}

.skill {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 2rem 6rem;
  border-radius: 0px 0px 10px 10px;
  transition: all .3s ease-in-out;
  background-image: url(../images/waves.gif);
  background-position: calc(100% - 0px) calc(100% + 280px);
  background-repeat: no-repeat;
  font-family: monospace;
  font-size: 1rem;
  box-shadow: 0 5px 10px #000;
}

.skill-icon img {
  width: 100px;
  height: 100px;
  margin-bottom: 2rem;
}

.skill:hover {
  transition: all .5s ease-in-out;
  transform: scale(1.05);
  background-position: calc(100% - 0px) calc(100% + 20px);
}

@media screen and (max-width: 768px) {
  .skills-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .skill {
    padding: 1rem 3rem;
  }

  .skill:hover {
    background-position: calc(100% - 0px) calc(100% + 50px);
  }
}